* {
	box-sizing: border-box;
}

html {
	height: auto;
	min-height: 100%;
}

body {
	background-image: url('/img/background.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	padding-top: $header-height;
}
