@use 'sass:color';

* {
	box-sizing: border-box;
	font-optical-sizing: auto;

	::placeholder {
		font-style: italic;
		font-size: 0.9rem;
	}
}

html {
	height: auto;
	min-height: 100%;
}

body {
	background-image: url('/img/background.jpeg');
	background-image:
		image-set(
			url('/img/background.avif') type('image/avif'),
			url('/img/background.webp') type('image/webp'),
			url('/img/background.jpeg') type('image/jpeg')
		);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;

	&.has-header {
		padding-top: $header-height;
	}
}

hr {
	color: var(--bs-border-color);
	opacity: 1;
}

:root {
	--header-height: #{$header-height};
	--footer-height: #{$footer-height};
	--card-offset: #{$card-offset};
	--accent-color: #{$accent};
	--accent-color-rgb:
		#{
		color.channel($accent, 'red', $space: rgb),
		color.channel($accent, 'green', $space: rgb),
		color.channel($accent, 'blue', $space: rgb)
		};
}
