* {
	box-sizing: border-box;
	font-optical-sizing: auto;

	::placeholder {
		font-style: italic;
		font-size: 0.9rem;
	}
}

html {
	height: auto;
	min-height: 100%;
}

body {
	background-image: url('/img/background.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	padding-top: $header-height;
}

:root {
	--header-height: #{$header-height};
}
