@font-face {
	font-family: 'Eyesome Script';
	src: url('/font/Eyesome\ Script.otf') format('opentype');
}

.font-script {
	font-family: 'Eyesome Script', serif;
}

.ws-pre-wrap {
	white-space: pre-wrap;
}

.lh-0 {
	line-height: 0 !important;
}
