@font-face {
	font-family: 'Kindersley GA';
	src: url('/font/KindersleyGA.ttf');
}

@font-face {
	font-family: 'Eyesome Script';
	src: url('/font/Eyesome\ Script.otf') format('opentype');
}

.font-script {
	font-family: 'Eyesome Script', serif;
}
