.icon-caret {
	box-sizing: content-box;
	width: 1em;
	height: 0.6em;
	color: var(--bs-btn-close-color);
	background: transparent escape-svg($accordion-button-icon) center / 1em auto no-repeat;
	border: 0;
	border-radius: 0.375rem;
}

.icon-info {
	border-width: 1px;
	border-radius: 50%;
	border-style: solid;
	width: 15%;
	text-align: center;
	height: 0;
	padding-bottom: 13%;
	display: inline-block;
	line-height: normal;
	text-decoration: none;
}
