.icon-caret {
	box-sizing: content-box;
	width: 1em;
	height: 0.6em;
	color: var(--bs-btn-close-color);
	background: transparent escape-svg($accordion-button-icon) center / 1em auto no-repeat;
	border: 0;
	border-radius: 0.375rem;
}

.icon-info {
	@extend .ratio;
	@extend .ratio-1x1;

	width: 1rem;
	border-width: 1.5px;
	border-radius: 50%;
	border-style: solid;
	text-align: center;
	display: inline-block;
	line-height: 0;
	text-decoration: none;

	&::after {
		content: 'i';
		position: absolute;
		margin-top: -0.33rem;
		margin-left: -0.15rem;
		font-size: small;
	}
}
