@use 'sass:string';
@use 'sass:meta';

$loader-bg: $primary !default;
$loader-outline: $white !default;
$loader-stroke-width: 3 !default;

// Define spin animation
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

// URL encode colour string for use in the loader SVG, updated with scss deprecation mitigation
// Source: https://gist.github.com/certainlyakey/e9c0d8f5c87ff47e3d5b?permalink_comment_id=3458258#gistcomment-3458258
@function encodecolor($string) {
	@if meta.type-of($string) == 'color' and string.index(#{$string}, '#') == 1 {
		$hex: string.slice(ie-hex-str($string), 4);
		$string: string.unquote('#{$hex}');
		@return '%23' + $string;
	}
	@return $string;
}

// Overlay to block the page content while loading
.loader-overlay {
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffffaa;

	@media (prefers-color-scheme: dark) {
		background-color: #000000aa;
	}
}

@mixin ring-icon($loading-bg, $loader-outline, $loader-stroke-width: 3) {
	background-image: url('data:image/svg+xml,<svg version="1.1" id="ring-loader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="377 256 300 350" xml:space="preserve"><path fill="#{encodecolor($loader-bg)}" opacity="1" stroke="#{encodecolor($loader-outline)}" stroke-width="#{$loader-stroke-width}" stroke-linecap="round" d="M423.071228,454.846863	C414.822418,431.574768 412.506348,408.427917 420.639221,385.050568	C422.873413,378.628540 425.828644,372.416351 428.921967,366.346893	C431.534729,361.220398 432.431702,356.496796 429.095459,351.355743	C426.532898,347.406921 425.435333,342.809418 424.308777,338.280762	C422.921173,332.702545 424.873169,329.990173 430.369354,328.540680	C437.546082,326.647980 443.271545,321.781616 449.444214,318.002258	C454.002808,315.211182 458.430237,312.484680 463.470795,310.634583	C466.119110,309.662537 468.053650,309.911713 469.569366,312.122498	C472.833618,316.883698 476.873047,321.262024 477.138245,327.545624	C477.232056,329.768219 478.181122,331.661102 480.585571,332.431976	C482.699219,330.616516 481.784698,328.607239 481.162750,326.823761	C478.095795,318.028717 477.155884,308.601166 473.121826,300.094391	C469.877411,293.252808 474.065613,287.084656 475.613678,280.911560	C476.527191,277.268738 481.926178,276.935455 485.319672,277.402405	C499.740631,279.386932 513.792603,274.458405 528.118103,275.622681	C537.212158,276.361755 546.285522,276.574493 555.433716,276.005798	C560.980591,275.660919 565.222534,278.356659 569.394531,282.939514	C577.368286,291.698639 572.476013,300.683716 571.747803,309.533966	C571.275818,315.271393 569.244202,320.834381 566.366760,326.036713	C565.124695,328.282379 563.475586,330.920410 565.038879,334.193420	C568.313904,333.143158 569.281555,330.332489 570.443359,327.926666	C572.764160,323.120880 575.036804,318.314026 578.160828,313.952271	C580.924622,310.093414 585.727966,308.812866 588.822266,312.279449	C593.928467,318.000031 601.101624,320.054504 607.151855,324.031281	C611.681152,327.008392 615.966064,330.335266 621.067749,332.627991	C626.986816,335.288086 629.161316,342.263641 625.173340,348.993561	C620.205566,357.377045 622.562744,364.342834 626.078430,371.872528	C631.606628,383.712402 635.115723,396.150513 634.924622,409.269165	C634.613525,430.629150 631.566101,451.413147 621.868408,470.928223	C618.032532,478.647156 613.508850,485.645081 607.641479,491.822906	C598.026794,501.946289 586.604004,509.337341 573.723267,514.774902	C562.133789,519.667419 550.118713,522.828186 537.764404,524.513550	C523.107910,526.513062 508.631531,524.957397 494.474518,520.555298	C486.520844,518.082092 478.580261,515.601135 471.165588,511.714600	C447.566498,499.344604 430.677429,481.283966 423.071228,454.846863M607.624451,447.106323	C607.804260,446.127350 607.912537,445.128693 608.174988,444.172424	C610.664246,435.103241 612.286682,425.779724 610.249573,416.581085	C606.683716,400.479095 600.495422,385.168793 588.842285,373.260651	C579.588745,363.804657 568.969666,355.523834 554.731567,354.518921	C551.909119,354.319702 549.010132,354.449554 546.278748,353.837372	C529.455322,350.066772 512.637634,350.512573 495.734406,353.254974	C486.670654,354.725464 477.608704,356.188446 469.693207,361.141479	C453.830566,371.067352 446.056488,386.717712 440.121674,403.629211	C437.997192,409.683075 439.586945,416.281952 437.329437,422.204651	C436.357819,424.753784 436.030640,427.135681 436.962036,429.429291	C438.347748,432.841675 438.790131,436.364685 439.532654,439.910004	C443.088470,456.887451 450.797638,471.832458 463.092957,484.225220	C472.518158,493.725159 483.790161,499.862915 496.453033,504.384827	C511.173767,509.641632 525.991882,511.894226 540.960083,507.979462	C573.316956,499.516876 596.620972,480.444275 607.624451,447.106323M436.800049,356.059723	C438.504578,361.611572 440.267700,367.060425 437.863312,372.993713	C436.896271,375.379974 438.064117,377.840942 440.475037,379.501282	C451.283295,374.794556 440.434692,368.365356 441.666931,363.014465	C443.667542,362.829010 443.526398,365.828644 445.837585,365.356842	C444.928375,363.399872 443.940582,361.676819 443.313354,359.831238	C442.320221,356.909027 439.168182,354.659607 440.154572,351.169800	C441.403870,346.749786 438.281677,344.024323 436.430206,340.870544	C435.451538,339.203400 433.407562,338.611969 431.583405,339.711914	C429.711914,340.840424 430.227509,342.788208 431.129913,344.135742	C433.472748,347.634003 434.391541,351.752228 436.800049,356.059723M519.988281,521.579651	C521.795837,521.255371 523.941956,522.643738 525.446838,520.571655	C523.096802,517.986450 508.628479,516.138123 505.298828,518.300659	C509.457275,522.144043 514.553040,520.976196 519.988281,521.579651M526.015625,312.751404	C522.731873,311.415771 519.713989,311.889587 516.421204,314.014740	C518.593384,316.316864 519.160828,320.607788 522.282532,320.067047	C524.608521,319.664154 527.493530,316.903839 526.015625,312.751404M519.212097,303.701752	C521.811523,303.240570 524.607727,305.188538 527.524658,303.087677	C524.842224,300.256500 522.144531,298.649261 518.569824,300.328613	C516.763733,301.177063 515.639038,302.469086 519.212097,303.701752M580.027954,334.368347	C580.513611,333.922974 581.067505,333.531677 581.471802,333.021790	C582.551453,331.660004 582.904907,330.075500 580.927612,329.470001	C579.039490,328.891846 577.759033,330.302246 577.354553,332.046997	C577.002808,333.564514 576.400330,335.759399 580.027954,334.368347M604.804749,374.272125	C604.119446,376.210236 604.447754,377.642914 607.164917,378.520721	C607.164917,376.065887 607.164917,374.011139 607.164917,371.937531	C605.746826,371.827667 605.402527,372.779144 604.804749,374.272125z"/></svg>');
}

// Engagement ring styled loading spinner. SVG source can be found in web/public/img/ring.svg
.ring-loader {
	@include ring-icon($primary, $white);

	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 33%;
	left: 50%;
	width: 120px;
	height: 120px;
	margin: -60px 0 0 -60px;

	&.loading {
		animation: spin 2s linear infinite;
	}

	@media (prefers-color-scheme: dark) {
		@include ring-icon($primary, $black);
	}
}
