#header {
	z-index: 10;

	@include media-breakpoint-up(sm) {
		height: $header-height;
	}

	.navbar-nav {
		@include media-breakpoint-down(sm) {
			padding-top: 0.5rem;
		}
	}

	.navbar-toggler {
		z-index: 10;
		border-color: rgb(var(--bs-white-rgb), 50%);

		.navbar-toggler-icon {
			--bs-navbar-toggler-icon-bg: #{escape-svg($navbar-dark-toggler-icon-bg)};
		}
	}
}

.nav-item {
	box-shadow: none;
	transition: box-shadow 0.2s, color 0.2s;

	&.text-stroke,
	.text-stroke,
	.text-stroke.show {
		color: rgba($color: $white, $alpha: 0.9);

		&.active,
		&:hover,
		&:focus {
			color: $white;
		}
	}

	&.dropdown:focus-within {
		background-color: rgba($color: $gray-400, $alpha: 0.4);
	}

	#header & {
		@include media-breakpoint-down(sm) {
			// Increase the font size of nav items on smaller devices
			--bs-nav-link-font-size: 1.2rem;

			padding-left: 6px;
			margin-left: -6px;

			&.active {
				z-index: 0;
				box-shadow: -2px 0 0 0 $primary;
			}

			&:not(.active):hover,
			&:not(.active):focus {
				box-shadow: -2px 0 0 0 rgba($primary, 0.3);
			}

			&:not(.active):focus {
				background-color: rgba($color: $gray-400, $alpha: 0.4);
			}
		}

		@include media-breakpoint-up(sm) {
			&.active {
				box-shadow: 0 3px 0 -1px $primary;
			}

			&:not(.active):hover,
			&:not(.active):focus {
				box-shadow: 0 3px 0 -1px rgba($primary, 0.3);
			}

			&:not(.active):focus {
				background-color: rgba($color: $gray-400, $alpha: 0.4);
			}
		}
	}
}
