#header {
	z-index: 2;

	@include media-breakpoint-up(sm) {
		height: $header-height;
	}
}

.navbar-toggler {
	z-index: 2;
}

.navbar-nav {
	@include media-breakpoint-down(sm) {
		padding-top: 0.5rem;
	}
}

.nav-item {
	box-shadow: none;
	transition: box-shadow 0.3s;

	@include media-breakpoint-down(sm) {
		&.active {
			z-index: 0;
			box-shadow:
				-6px 0 0 0 rgb(var(--bs-light-rgb)),
				-8px 0 0 0 $primary;
		}

		&:not(.active):hover,
		&:not(.active):focus {
			box-shadow: -2px 0 0 0 rgba($primary, 0.3);
		}

		&:not(.active):focus {
			background-color: rgba($color: $gray-400, $alpha: 0.4);
		}
	}

	@include media-breakpoint-up(sm) {
		&.active {
			box-shadow: 0 3px 0 -1px $primary;
		}

		&:not(.active):hover,
		&:not(.active):focus {
			box-shadow: 0 3px 0 -1px rgba($primary, 0.3);
		}

		&:not(.active):focus {
			background-color: rgba($color: $gray-400, $alpha: 0.4);
		}
	}
}
