hr.fancy-hr {
	overflow: visible;
	height: 30px;
	margin-bottom: -8px;
	margin-top: 24px;
	border-style: solid;
	border-width: 1px 0 0;
	border-radius: 20px;
	text-align: center;

	&::before {
		content: '';
		display: block;
		height: 30px;
		margin-top: -32px;
		border-style: solid;
		border-width: 0 0 1px;
		border-radius: 20px;
	}

	&::after {
		content: 'ยง';
		display: inline-block;
		position: relative;
		top: -0.8rem;
		padding: 0 0.25em;
		background-color: var(--bs-body-bg);
	}
}
