.w-33 {
	width: 33% !important;
}

.w-66 {
	width: 66% !important;
}

.rotate-180 {
	transform: rotate(180deg);
}

.bg-blur {
	backdrop-filter: blur($backdrop-blur);
	transition: backdrop-filter 0.35s ease-out;

	@media (prefers-color-scheme: dark) {
		backdrop-filter: blur($backdrop-blur) brightness(69%);
	}

	&.bg-blur-dark {
		backdrop-filter: blur($backdrop-blur) brightness(69%);
	}
}
