// Theming
$color-mode-type: media-query;

// Ensure that there is a value for the accent var
$accent: $secondary !default;

// Shadows
$enable-shadows: true;

// Text
$font-size-root: 0.9rem;
$font-family-base: 'Roboto Serif', system-ui, -apple-system, 'Segoe UI', roboto, 'Helvetica Neue', 'Noto Sans',
	'Liberation Sans', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;

// Nav
$navbar-toggler-border-radius: 1px;
$header-height: 50px;
$card-offset: 160px;
$footer-height: 36px;

// Accordion
$accordion-border-width: 0;

// Modals
$modal-backdrop-opacity: 0;
$modal-fade-transform: scale(0.7);
$modal-content-box-shadow-sm-up: 0;

// Blurs
$backdrop-blur: 0.5rem;
