// Theming
$color-mode-type: media-query;

// Shadows
$enable-shadows: true;

// Colour
$primary: #cfd989;
$secondary: #e9f0f7;

// Text
$font-size-root: 0.9rem;
$font-family-base: 'Roboto Serif', system-ui, -apple-system, 'Segoe UI', roboto, 'Helvetica Neue', 'Noto Sans',
	'Liberation Sans', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;

// Nav
$navbar-toggler-border-radius: 1px;
$header-height: 50px;

// Accordion
$accordion-border-width: 0;
