# ==============================================================================
# Wedding Manager - Example Environment Configuration
# Copy this file to `.env` for use with the service.
# See README.md or conf/index.js for more information.
# ==============================================================================

# Wedding Details
BRIDE="Jane Doe"
BRIDE_SHORT=Jane
GROOM="Joe Bloggs"
GROOM_SHORT=Joey
DATE=2026/12/31
TIME="1:30 PM"
RSVP_DEADLINE=2026/12/01
TIMEZONE=UTC
REGISTRY_URL="https://example.com/registry"

# Host & Server Configuration
HOST=127.0.0.1
HOT=false
SERVER_PORT=27626
SERVER_EXTERNALPORT=27626

# Database Configuration
SERVER_DB_HOST=127.0.0.1
SERVER_DB_DB=wedding-manager
SERVER_DB_USERNAME=application
SERVER_DB_PASSWORD=weddingmanager

# Session Configuration
SERVER_SESSION_NAME=invitation
SERVER_SESSION_SECRET=change-me

# Optional Docker Compose Seeding (used on initial volume creation)
INITIAL_ADMIN_ID=admin

# Optional OAuth 2.0 Admin Authentication (Google Sign-In)
# OAUTH_CLIENTID=

# Client Footer (Markdown link syntax: "[text](url)")
CLIENT_FOOTER="[Example Venue](https://venue.example.com/)"

# Client Colour Palettes ("Name,#hex|Name,#hex")
CLIENT_PALETTE_PRIMARY="Grass,#4f7942|Lace,#f4f2f0"
CLIENT_PALETTE_SECONDARY="Dusty Rose,#e3c5c4"
CLIENT_PALETTE_TERTIARY="Sky,#acbbd1"
CLIENT_PALETTE_ACCENT="Gold,#f8d28b"

# Client SCSS Theme Overrides
CLIENT_THEME=primary,secondary,border-color
CLIENT_THEME_PRIMARY=#4f7942
CLIENT_THEME_SECONDARY=darkslateblue
CLIENT_THEME_BORDERCOLOR='$secondary'
