{
	"plugins": [
		"@stylistic/stylelint-plugin"
	],
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-recommended-vue",
		"@stylistic/stylelint-config"
	],
	"rules": {
		"@stylistic/string-quotes": "single",
		"@stylistic/indentation": "tab",
		"alpha-value-notation": null,
		"at-rule-empty-line-before": null,
		"at-rule-no-unknown": null,
		"color-function-notation": null,
		"color-hex-length": "long",
		"declaration-property-value-no-unknown": null,
		"media-feature-range-notation": "prefix",
		"no-descending-specificity": null,
		"no-invalid-position-at-import-rule": null,
		"number-max-precision": 3,
		"scss/at-extend-no-missing-placeholder": null,
		"scss/at-import-no-partial-leading-underscore": null,
		"scss/at-import-partial-extension": null,
		"scss/at-rule-no-unknown": true,
		"scss/load-no-partial-leading-underscore": null,
		"scss/no-global-function-names": null,
		"scss/operator-no-unspaced": null,
		"selector-not-notation": null,
		"selector-pseudo-element-no-unknown": [ true, { "ignorePseudoElements": [ "v-deep" ] } ],
		"unit-no-unknown": null,
		"value-keyword-case": [ "lower", { "ignoreFunctions": [ "v-bind" ] } ]
	}
}
