<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%- config.bride_short %> & <%- config.groom_short %> | Wedding</title>
		<link rel="icon" href="/img/ring.svg" />
		<meta http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
		<% if (!config.hot) { %>
			<link rel="stylesheet" href="<%= assetManifest['index.css'] %>">
		<% } %>
	</head>
	<body>
		<noscript>JavaScript is required to access this site.</noscript>
		<section id="app">
			<div class="loader-overlay">
				<div class="ring-loader loading" />
			</div>
		</section>
		<script src="<%= config.hot ? `//${config.host}:8468/js/index.js` : assetManifest['index.js'] %>"></script>
	</body>
</html>
